APP_NAME=Lumen
APP_ENV=local
APP_KEY=base64:u01Vua9cwV8wkhRSVtQWlj4uh1uSH0P0XKe6dV9dRnI=
APP_DEBUG=true
APP_URL=http://localhost
APP_TIMEZONE=UTC

LOG_CHANNEL=stack
LOG_SLACK_WEBHOOK_URL=

DB_CONNECTION=sqlsrv
DB_HOST=civitatis-backend-sql
DB_PORT=1433
DB_DATABASE=tempdb
DB_USERNAME=SA
DB_PASSWORD=PasswordO1.

CACHE_DRIVER=file
QUEUE_CONNECTION=sync

ACCEPTED_SECRETS=vIyAL9RTk0SoSnTbHJDRVSZH53laAL2pRwmGmlHyl4u4wtFvN3piO7vGdwiA44Zn
